body{
    font-family: 'Raleway';
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Raleway';
  font-weight: 900;
}

/* Navbar */
.navbar{
  padding: 0 0 4.5rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: 'Raleway';
}

.navbar-brand{
  font-family: 'Bebas Neue';
  font-size: 2.5rem;
  font-weight: 900;
}

/* Title Section */
.big-heading{
  font-family: 'Raleway';
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.small-heading{
    font-weight: 500;
}

.left-title{
  text-align: left;
}

.navbar-dark .navbar-brand{
  color: #707070;
}

.navbar-dark .navbar-nav .nav-link{
color: #707070;
}

#title .container-fluid{
  padding:3% 15%;
  text-align: left;
  background-color: #AACFCF;
  color: #707070;
}

.title-image{
  width: 75%;
  right: 30%;
}

.right-title{
  text-align: right;
}

@media (max-width:1028px){
    .right-title{
      text-align: center;
    }
    .left-title{
      text-align: center;
    }
    .small-heading{
      font-size: 1rem;
    }
    #title{
      text-align: center;
    }
}

/*Education Section */
#education .container-fluid{
  padding:3% 15%; 
  text-align: center;
  background-color: #EEEEEE;
  color: #707070;
}

.education-list{
  padding-top: 3%;
}
.education-item{
  padding-top: 2%;
  font-weight: 500;
}

.education-icon{
  margin-right: 1%;
}