/* TItle Section */
.title-section{
    background-color: #AACFCF;
    color: #707070;
  }

  .navbar-dark .navbar-brand{
      color: #707070;
  }

  .navbar-dark .navbar-nav .nav-link{
    color: #707070;
}